<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.jhxx.schoolroll.dao.AdminDao">

    <!--==================================基本查询============================-->
   <!-- <select id="login" resultType="int">
       SELECT count(1) FROM admin where username=#{password} and password=#{password}
    </select>-->

  <!--  <insert id="save"  useGeneratedKeys="true" keyProperty="id">
          insert into admin(id,username,password,name,sex,unLocked,createTime)
          values(null,#{username},#{password},#{name},#{sex},#{unLocked},#{createTime})
    </insert>-->
</mapper>